<div class="container-fluid">
  
  <div class="row-fluid">

    <div class="span3">
      <%= render 'navibar_collections' %>
      <%= render 'navibar_books' %>
      <div class="well sidebar-nav">
        <img data-src="holder.js/280x600" alt="">
      </div>
    </div>

    <div class="span9">

      <div class="container-fluid">
        <h2>
          <%= @collection.title %>
        </h2>
        <% pp =  @collection.description.split("PP") %> 
        <% pp.each do |p1| %>
        <p>
          <%= p1 %>
        </p> 
        <% end %>

        <p> 閲讀本分類的書卷：| 
          <% @collection.books.each do |book| %>
            <%= link_to book.title, book_series_collection_book_url(@book_series_1, @collection, book),
             :id => "chapter_list" %> |
          <% end %>
        </p>

      </div>

      <hr class="featurette-divider">

      <!-- list of static page to be rendered here -->

      <% if !@collection.collection_pages.empty? %>
      <h3>
        <%= @collection.title %>補充内容:
      </h3>

        <% @collection.collection_pages.each do |collection_page| %>

          <div class="container-fluid">
            <div class="row-fluid">
              <div class="span2">
                <p>
                </p>
                <p>
                  <% p2 ="/bible1.jpg" %>
                </p>
                
                <img data-src="holder.js/120x100" class="img-rounded" alt="120x100" style="width: 120px; height: 100px;" src="<%= p2.to_s %>">
              </div>
              <div class="span10">
                <h3>
                  <%= collection_page.title %>
                </h3>
                <% pp = collection_page.description.split("PP") %> 
                  <% pp.each do |p1| %>
                  <p>
                    <%= p1 %>
                  </p> 
                  <% end %>
                <p>
                  <%=link_to "更多内容", book_series_collection_collection_page_url(@book_series_1, @collection, collection_page), class: "btn btn-min btn-primary" %>
                </p>
              </div>
            </div>
          </div>

          <hr class="featurette-divider">
        <% end %>
      <% end %>

    </div>

  </div>
</div>




<h1>Listing Collection Pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Collection</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collection_pages.each do |collection_page| %>
  <tr>
    <td><%= collection_page.title %></td>
    <td><%= collection_page.description %></td>
    <td><%= collection_page.collection_id %></td>
    <td><%= collection_page.grp %></td>
    <td><%= link_to 'Show', [@book_series, @collection, collection_page] %></td>
    <td><%= link_to 'Edit', edit_book_series_collection_collection_page_path(@book_series, @collection, collection_page) 
        %></td>
    <td><%= link_to 'Destroy', [@book_series, @collection, collection_page], 
        method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collection page', new_book_series_collection_collection_page_path(@book_series, @collection) %>
