<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @collection_page.title %>
</p>

<p>
  <b>Description:</b>
  <%= @collection_page.description %>
</p>

<p>
  <b>Collection:</b>
  <%= @collection_page.collection_id %>
</p>

<p>
  <b>Type:</b>
  <%= @collection_page.type %>
</p>


<%= link_to 'Edit', edit_collection_page_path(@collection_page) %> |
<%= link_to 'Back', collection_pages_path %>
