<p id="notice"><%= notice %></p>


<h3><%= @user.name %>,　讀經筆記：</h3>


<% created = @reading_note.created_at %>
<% created_date = created.year.to_s + "-" + created.month.to_s + "-" + created.day.to_s %>
<% updated = @reading_note.updated_at %>
<% updated_date = updated.year.to_s + "-" + updated.month.to_s + "-" + updated.day.to_s %>
<% bb = Book.find_by_book_code(@reading_note.book_code) %>
<% passage = bb.title + @reading_note.chapter_no.to_s + "章" + @reading_note.verse_from.to_s + "-"  + 
  @reading_note.verse_to.to_s + "節" %>



<% icon_tag1 = "<i class=\"icon-star\"></i>" %>

<div class="row-fluid">
  <div class="span6">

    <p>
      <b>筆記首次時間:</b> <%= created_date %>
    </p>

    <p>
      <b>上次修改時間:</b> <%= updated_date %>
    </p>

    <p>筆記主題：　<%= @reading_note.title %></p>
    <p>經文範圍：　<%= passage %></p>
    <p>筆記時間： <%= @reading_note.created_at.to_s %></p>
    <p>我的笔记：</p>

    <div class="thumbnail">
      <div class="caption">
        <p>
          <%= @reading_note.content %>
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

  </div>
</div>


<%= link_to '更改筆記内容', edit_user_reading_note_path(@user, @reading_note), class: "btn btn-min btn-warning" %>
<%= link_to '囘到筆記列表', user_reading_notes_path(@user), class: "btn btn-min btn-primary" %>
