<h2>帳戶設定更新： <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
  
  <%= f.error_notification %>
  <%= f.input :name, label:　"名稱" %>
  <%= f.input :email, label: "電子郵箱"%>
  <%= f.input :password, label: "新的密碼", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "再一次新的密碼", autocomplete: "off" %>
  <%= f.input :current_password, label: "舊的密碼" %>

  <div class="form-actions">
    <%= f.submit "更新", class: "btn btn-primary" %>
  </div>
<% end %>

<h3>取消我的帳號</h3>

<p>不再想成爲會員? <%= button_to "取消帳戶", registration_path(resource_name), :data => { :confirm => "確定要取消您的帳戶?　取消后，您的所有信息，筆記，讀經計劃，等都將被刪除，個人化閲讀共功能也喪失。" }, :method => :delete %></p>

<%= link_to "回到前面", :back %>
