<h1>Listing book_pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Book</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @book_pages.each do |book_page| %>
  <tr>
    <td><%= book_page.title %></td>
    <td><%= book_page.description %></td>
    <td><%= book_page.book_id %></td>
    <td><%= book_page.type %></td>
    <td><%= link_to 'Show', book_page %></td>
    <td><%= link_to 'Edit', edit_book_page_path(book_page) %></td>
    <td><%= link_to 'Destroy', book_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Book page', new_book_page_path %>
