<div class="container-fluid">
  
  <%= render 'header_toc' %>

</div>



<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book_page.title %>
</p>

<p>
  <b>Description:</b>
  <%= @book_page.description %>
</p>

<p>
  <b>Book:</b>
  <%= @book_page.book_id %>
</p>

<p>
  <b>Type:</b>
  <%= @book_page.grp %>
</p>


<%= link_to 'Edit', edit_book_series_collection_book_book_page_path(@book_series, @collection, @book, @book_page) %> |
<%= link_to 'Back', book_series_collection_book_book_pages_path(@book_series, @collection, @book) %>
