
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span9">
      <h1>閲讀指南：</h1>
    </div>

    <div class="span3">
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="bs-docs-example">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#methods" data-toggle="tab">讀經法則</a></li>
    <li><a href="#themes" data-toggle="tab">主題讀經</a></li>
    <li><a href="#tools" data-toggle="tab">讀經工具</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">

    <!-- Tab 1 -->
    <div class="tab-pane fade in active" id="methods">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 3.jpg">
          </div>

          <h3>
            尊重教會權柄，把握學習機會
          </h3>

          <div class="span10">
            <p>
              今天互聯網發達，讀者可以隨意上網尋找聖經資料，但不見得得到純正的信息。
              雖然maxBibleReader本身也是經由互聯網來幫助讀者學習聖經，如果您已經有教會，
              仍然建議讀者向自己教會的牧長咨詢，在得到認可下來使用maxBibleReader的聖經閲讀。
            </p>
            <p>
              另外鼓勵您把握住教會提供的學習機會，如教會的主日學，小組查經，和一對一學習等。
              在老師的教導下，就能少走很多彎路，避免自己錯誤的想法。如果有不明白的，
              可以即刻詢問教會的牧長。
            </p>
            <p>
              maxBibleReader做爲一個工具，除了盼望幫助個人讀經，更希望配合教會，作爲教會建造門徒的工具。
              而maxBibleReader也是一個學習聖經的交流平臺，歡迎教會來使用這個平臺，幫助小組學習。
            </p>
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 1.jpg">
          </div>
            <h3>
              聖經該從哪卷書讀起
            </h3>
          <div class="span10">
            <p>
              聖經66卷書分成共10部分。初學聖經的讀者可以先從聖經的每各分部了解基本内容：
              <%= link_to "了解書卷分類", '/book_series/1/collections', class: "btn btn-min btn-primary" %>
            </p>

            <p>
              如果讀者對聖經的10個部分已有所了解，由於摩西五經是舊約聖經的根基，四福音書是新約聖經的根基，建議讀者可以從這兩部分先開始。
            </p>
            <p>
              然而讀摩西五經的時候，很可能會遇到讀不下去的時候。例如，有些部分看起來不合科學，有些部分講到獻祭和會幕很枯燥，而有些部分講到許多人名地理感覺太不親切。這是因爲讀者的聖經背景知識不夠。讀四福音書的時候，所需的背景知識沒有如舊約的多，但讀的時候也不見得能真正明白。例如耶穌講到天國的比喻，就有很多人有自己的解釋。這是因爲讀聖經的時候需要用天國的邏輯，如果用人的邏輯就會各自解釋。
            </p>
            <p>
              爲此，讀者可以參考以下讀經態度和法則，另外可以多利用maxBibleReader提供的讀經工具。
            </p>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 3.jpg">
          </div>
            <h3>
              按書卷讀經的態度與法則
            </h3>
          <div class="span10">
            
            <p>
              剛開始讀聖經的人，雖然每個字都看的懂，但合起來就不明白。最根本的原因乃是聖經是神的話，用人的邏輯去理解神的邏輯就很難明白。爲此，以下提示幾個讀聖經的重要法則。
            </p>
            <p>
              <span class="badge badge-warning">1</span> 聖經是神的啓示。讀聖經時最重要的是態度，是要存敬畏，謙卑，渴慕的心。如果存批判的心，就很難進入真理。如果遇到難以明白的時候，要用敬畏，謙卑，渴慕的心來禱告，並求聖靈幫助，神樂意打開我們心中的眼睛，讓我們看見聖經話語的亮光。
            </p>
            <p>
              <span class="badge badge-warning">2</span> 神的話大有能力，能打開我們的心，在我們彷徨時給我們亮光。然而，要能應用神的話在我們生活的處境中，首先必須正確明白神的話。也就是，有正確的解釋，才能有正確的應用。許多人讀聖經不求先清除明白，就馬上套用在自己的情景中，就會有很多危險。所以讀聖經時要務要遵守的次序是：先要仔細觀察，其次按正義解釋，然後才是領受和應用。
            </p>
            <p>
              <span class="badge badge-warning">3</span> 聖經的話該如何解釋？避免斷章取義按自己意思解釋的首先原則是需正確明白作者原來的目的。有些書卷可以很容易找到作者的寫書目的，例如約翰福音的作者約翰在20：31清楚說出他寫書的目的。有些就需要從全文分析得出。明白作者的原意在解釋時就不會偏題。除了從全文分析來得到作者的寫書目的，對寫作歷史背景的了解也可以有效地幫助我們明白書卷的目的。例如耶利米書的歷史背景是猶大囯面臨巴比倫帝國的滅囯威脅。耶利米在此危難時候告訴以色列人遭難的原因，要他們做好亡國的準備，預言神將與以色列家另立新約。
            </p>
            <p>
              <span class="badge badge-warning">4</span> 有時光從一卷書本身也不容易了解作者的寫書目的。此時就需要從相關的書卷來發現。例如，如果我們將四福音書馬太，馬可，路加，和約翰福音合起來看時，就可以發現這四卷書有不同的重點：
            </p>

            <p>
              <table width="700" border="1">
                <tr>
                  <th width="100" scope="col">比較</th>
                  <th width="150" scope="col">馬太福音</th>
                  <th width="150" scope="col">馬可福音</th>
                  <th width="150" scope="col">路加福音</th>
                  <th width="150" scope="col">約翰福音</th>
                </tr>
                <tr>
                  <td valign="top"><div align="left">重點</div></td>
                  <td valign="top"><div align="left">耶穌是君王</div></td>
                  <td valign="top"><div align="left">耶穌是奴僕</div></td>
                  <td valign="top"><div align="left">耶穌是人子</div></td>
                  <td valign="top"><div align="left">耶穌是神子</div></td>
                </tr>
                <tr>
                  <td valign="top"><div align="left">家譜</div></td>
                  <td valign="top"><div align="left">王的家譜，從以色列人的先祖亞伯拉罕，經大衛王，往下推至約瑟</div></td>
                  <td valign="top"><div align="left">沒有記載，因爲奴僕是沒有家譜的</div></td>
                  <td valign="top"><div align="left">人的家譜，從母親往上推到人類的先祖亞當</div></td>
                  <td valign="top"><div align="left">神的家譜：太初有道，道就是神，道成了肉身</div></td>
                </tr>
                <tr>
                  <td valign="top"><div align="left">記載的重點</div></td>
                  <td valign="top"><div align="left">有多處記載耶穌作爲天國國王的教訓如登山寳訓。另外多有引證舊約的預言，證明耶穌是彌賽亞，救世主。</div></td>
                  <td valign="top"><div align="left">從耶穌作爲僕人的角度，記載耶穌風塵僕僕的工作。</div></td>
                  <td valign="top"><div align="left">從耶穌作爲人子的角度，記載母親瑪麗亞受聖靈感孕的過程。</div></td>
                  <td valign="top"><div align="left">記載耶穌作爲神子所顯出的做為，如記載七個神跡。也記載耶穌多次告訴門徒他與天父原為一，他所做的就是天父所做的，向許多人如撒瑪利亞婦人宣告自己就是彌賽亞，向猶太人宣告自己的名字是：我是。</div></td>
                </tr>
              </table>
            </p>
            <p>
              <span class="badge badge-warning">5</span> 事實上，聖經全部66卷書也是有互相關聯的。maxBibleReader 的主題式讀經就是將整本聖經分成12個互相連貫的主題，可以幫助讀者明白聖經縂的目的。
              為能在按書卷讀經時，能清楚看見寫書目的，maxBibleReader 根據書卷與整本聖經的關係，歷史的背景，加入標題和註釋，是使讀者能夠有充分的背景知識。
            </p>
            <p>
              <span class="badge badge-warning">6</span> 正確得到作者寫書的目的可以比喻成森林與樹木的森林，也就是掌握了大局。 要能夠見林也見樹，我們就需正確解釋每節經文。這時我們就要繼續使用觀察法，從經文的上下文，整卷書，或整本聖經來解釋。這是一般所說的以經解經。
              例如耶穌在約翰福音6章說要人吃祂的肉，當時的門徒覺得此話甚難明白。如果我們從約翰福音5章的五餅二魚神跡的上下文，就可以知道，
              耶穌是要提醒門徒不要只關心地上的食物來維持地上的肉體生命，更要關心自己在天上永恒的生命。地上的食物沒有辦法給我們天上的生命，
              只有信耶穌是基督才能得天上的生命。所以，耶穌在這邊用比喻說要吃祂的肉，其意思是要信祂得永生。
            </p>
            <p>
              <span class="badge badge-warning">7</span> 聖經的話語是非常奇妙的，隨著個人生命愈來愈認識神的心腸，就愈能有更深的體會，可以百讀不膩。然而為避免錯誤領受，在初讀聖經的時候，建議不要先想要用聖經的話來解決目前的燃眉之急（當然有時神有憐憫），而是先要將重點放在對基本真理的明白。當你的靈命成長，就自然能更明白聖靈對自己要說的話。
            </p>
          </div>

        </div>
      </div>

    </div> <!-- end of tab 1 -->

    <!-- Tab 2 -->
    <div class="tab-pane fade" id="themes">
      <h3>
        認識主題式讀經法
      </h3>
      <p>
        maxBibleReader一直思想的一個問題是如何幫助有心讀聖經的人可以在一年或兩年内，
        不但讀完聖經，而且能有收穫又有感動的讀完。
        其實，不要說對許多初讀聖經的人因缺乏歷史，地理和神學知識，要一年或兩年讀完聖經很困難，就是信主很多年的，甚至教會的傳道人，要能有深度的一年讀完聖經都是很困難的。以我自己讀聖經的經驗，要好好領會一段經文往往就要花很多的時間，
        不要說遇到難解的經文。
      </p>
      <p>
        根據教學心理學，有幾個方法可以有效提升閲讀的果效。第一是主題提示。也就是先提示讀者文章的主題，在讀的時候就能大大收效。
        第二是情境提示。也就是若能預備讀者與經文相關的情境，在讀的時候就能有深的感動。
        第三是全局性或相關性的提示。也就是將整本聖經的66卷書或部分書卷整理成緊密連貫的關係，在讀的時候就能建立完整的圖畫，能看見不同書卷在圖畫中的位置，或看見不同書卷代表的不同層次。
      </p>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 1.jpg">
          </div>
          <h3>
            主題提示：
          </h3>
          <div class="span10">
            <p>
              主題式聖經閲讀不是先有主題，再將分散各處的經文組合起來來讀。主題式讀經是先有書卷，根據書卷的主題，整合起來，再分成若干分題來讀。所以主題式讀經：
            </p>
            <p>
              <span class="badge badge-warning">1</span> 不是斷章取義，隨意地將不同地方的經文組合起來的聖經閲讀。
            </p>
            <p>
              <span class="badge badge-warning">2</span> 乃是以書卷為基礎，將經文組成有關聯性的段落。
            </p>
            <p>
              <span class="badge badge-warning">3</span> 可以涵蓋整本聖經。 maxBibleReader 對整本聖經的主題式閲讀，根據時間次序，分成12個主題的閲讀。
            </p>
            <p>
              <span class="badge badge-warning">4</span> 可以涵蓋部分聖經書卷。例如出埃及記和利未記關於律法，禮儀，民事的部分，可以整合起來，按照主題來讀。 類似的，可以將舊約歷史書和先知書按照時間整合來讀，將四卷福音書整合起來，以基督生平爲主題來讀，將使徒行傳和部分保羅書信整合起來，保羅旅行傳道的行蹤為主題來讀等。
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 1.jpg">
          </div>
          <h3>
            情境提示：
          </h3>
          <div class="span10">
            <p>
              <ol>
                <li>主題式聖經閲讀不是斷章取義，隨意地將不同地方的經文組合起來的聖經閲讀。</li>
                <li>主題式聖經閲讀乃是以書卷為基礎，將經文組成有關聯性的段落。</li>
                <li>對於整本聖經，主題式聖經閲讀根據時間次序，分成12個主題的閲讀，將相關書卷整合在一起。例如出埃及記和利未記關於律法，禮儀，民事的部分整合起來，將舊約歷史書和先知書按照時間整合分段，將四卷福音書整合起來，將使徒行傳和部分保羅書信整合起來等。</li>
                <li>主題式聖經閲讀也可以小範圍來操作。例如，關於基督生平，可以將四福音書整合起來讀。關於末世的主題，可以以啓示錄為主軸，對照耶穌在四福音書關於末世的預言，和其他聖經有關經文一起來讀。</li>
              </ol>
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 1.jpg">
          </div>
          <h3>
            全局提示：
          </h3>
          <div class="span10">
            <p>
              <ol>
                <li>主題式聖經閲讀不是斷章取義，隨意地將不同地方的經文組合起來的聖經閲讀。</li>
                <li>主題式聖經閲讀乃是以書卷為基礎，將經文組成有關聯性的段落。</li>
                <li>對於整本聖經，主題式聖經閲讀根據時間次序，分成12個主題的閲讀，將相關書卷整合在一起。例如出埃及記和利未記關於律法，禮儀，民事的部分整合起來，將舊約歷史書和先知書按照時間整合分段，將四卷福音書整合起來，將使徒行傳和部分保羅書信整合起來等。</li>
                <li>主題式聖經閲讀也可以小範圍來操作。例如，關於基督生平，可以將四福音書整合起來讀。關於末世的主題，可以以啓示錄為主軸，對照耶穌在四福音書關於末世的預言，和其他聖經有關經文一起來讀。</li>
              </ol>
            </p>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 1.jpg">
          </div>
          <h3>
            主題式讀經例子：
          </h3>
          <div class="span10">
            <p>
              <ol>
                <li>主題式聖經閲讀不是斷章取義，隨意地將不同地方的經文組合起來的聖經閲讀。</li>
                <li>主題式聖經閲讀乃是以書卷為基礎，將經文組成有關聯性的段落。</li>
                <li>對於整本聖經，主題式聖經閲讀根據時間次序，分成12個主題的閲讀，將相關書卷整合在一起。例如出埃及記和利未記關於律法，禮儀，民事的部分整合起來，將舊約歷史書和先知書按照時間整合分段，將四卷福音書整合起來，將使徒行傳和部分保羅書信整合起來等。</li>
                <li>主題式聖經閲讀也可以小範圍來操作。例如，關於基督生平，可以將四福音書整合起來讀。關於末世的主題，可以以啓示錄為主軸，對照耶穌在四福音書關於末世的預言，和其他聖經有關經文一起來讀。</li>
              </ol>
            </p>
          </div>
        </div>
      </div>


    </div> <!-- end of tab 2 -->

    <!-- Tab 3 -->
    <div class="tab-pane fade" id="tools">
      <h2>
        maxBibleReader 提供以下閲讀幫助
      </h2>
      

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span12">
            <p>
              <span class="badge badge-important">1</span> 聖經書卷介紹：對聖經的分類，主題，和每卷書提供背景知識，例如作者寫書的目的，
              相關歷史地理人物，與有相關聯的書卷與經文。
            </p>
            <p>
              <span class="badge badge-important">2</span> 簡易中文翻譯修正：maxBibleReader使用的中文譯文是根據中文和合本。因其中有少部分翻譯不正確，不達意，或不易明白的地方，
              maxBibleReader對少部分的經文給與修正或修飾。
            </p>
            <p>
              <span class="badge badge-important">3</span> 簡易聖經註釋：根據原意，提供簡潔解釋，幫助讀者正確明白經文意義。
            </p>
            <p>
              <span class="badge badge-important">4</span> 提供個人化讀經工具： 
              根據個人多年讀經與教會牧會經驗，maxBibleReader設計了一些個人化服務工具如：讀經進度追蹤，個人靈修筆記，分享個人領受，閲讀別人分享，與創建讀經小組。盼望這些工具可以督促個人完成讀經計劃，提供交流平臺，達到更好的讀經效果。
            </p>
            <p>
              <span class="badge badge-important">5</span> 提供牧長創作平臺： 
              在認同主題式讀經的理念和 maxBibleReader 的信仰告白下，maxBibleReader 歡迎牧長將自己的讀經領受發表。
              牧長可以使用本網站的工具，直接寫作，並經過 maxBibleReader 后發表。
            </p>
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 5.jpg">
          </div>
          <h3>
            經卷背景知識介紹：
          </h3>
          <div class="span10">
            <p>
              中文和合本是最早來華宣教士聯合翻譯的版本，也是目前華人閲讀較多的版本。因其中有少部分翻譯不正確，不達意，或不易明白的地方，
              近年來有好些新的翻譯版如現代譯本，新譯本，簡明聖經，等來彌補。
              這些努力都很有價值，值得讀者參考使用。但考慮和合本中仍有許多優美的譯文如詩篇23篇，哥林多前書13章愛的真諦等，為多數人背誦，所以
              maxBibleReader採取的做法，是以和合本為本，對少部分的經文給與修正或修飾。
              同時，在經文顯示上，採取原中文和合本和翻譯修正文並列，以爲尊重原中文和合本。
              所修飾或修正的譯文是根據多個受歡迎的英文聖經翻譯版本如NIV,NLT,AMP,KJV,NKJV,MSG,和OJB(Orthodox Jewish Bible)以盡量接近原文的本意。若想要多了解這些版本的特色，請參考<%= link_to "聖經介紹", bible_intro_path %>中關於不同聖經譯文的介紹。
            </p>
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 5.jpg">
          </div>
          <h3>
            簡易經文註釋：
          </h3>
          <div class="span10">
            <p>
              中文和合本是最早來華宣教士聯合翻譯的版本，也是目前華人閲讀較多的版本。因其中有少部分翻譯不正確，不達意，或不易明白的地方，
              近年來有好些新的翻譯版如現代譯本，新譯本，簡明聖經，等來彌補。
              這些努力都很有價值，值得讀者參考使用。但考慮和合本中仍有許多優美的譯文如詩篇23篇，哥林多前書13章愛的真諦等，為多數人背誦，所以
              maxBibleReader採取的做法，是以和合本為本，對少部分的經文給與修正或修飾。
              同時，在經文顯示上，採取原中文和合本和翻譯修正文並列，以爲尊重原中文和合本。
              所修飾或修正的譯文是根據多個受歡迎的英文聖經翻譯版本如NIV,NLT,AMP,KJV,NKJV,MSG,和OJB(Orthodox Jewish Bible)以盡量接近原文的本意。若想要多了解這些版本的特色，請參考<%= link_to "聖經介紹", bible_intro_path %>中關於不同聖經譯文的介紹。
            </p>
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 5.jpg">
          </div>
          <h3>
            簡易譯文修訂參考：
          </h3>
          <div class="span10">
            <p>
              中文和合本是最早來華宣教士聯合翻譯的版本，也是目前華人閲讀較多的版本。因其中有少部分翻譯不正確，不達意，或不易明白的地方，
              近年來有好些新的翻譯版如現代譯本，新譯本，簡明聖經，等來彌補。
              這些努力都很有價值，值得讀者參考使用。但考慮和合本中仍有許多優美的譯文如詩篇23篇，哥林多前書13章愛的真諦等，為多數人背誦，所以
              maxBibleReader採取的做法，是以和合本為本，對少部分的經文給與修正或修飾。
              同時，在經文顯示上，採取原中文和合本和翻譯修正文並列，以爲尊重原中文和合本。
              所修飾或修正的譯文是根據多個受歡迎的英文聖經翻譯版本如NIV,NLT,AMP,KJV,NKJV,MSG,和OJB(Orthodox Jewish Bible)以盡量接近原文的本意。若想要多了解這些版本的特色，請參考<%= link_to "聖經介紹", bible_intro_path %>中關於不同聖經譯文的介紹。
            </p>
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 2.jpg">
          </div>

          <h3>
            記下個人靈修筆記：
          </h3>

          <div class="span10">

            <p>
              雖然今天網絡發達，讀者可以隨意上網找資料，但不見得得到正確的信息。雖然maxBibleReader本身也是經由網路幫助讀者學習聖經，仍然建議讀者向自己教會的牧者老師咨詢，得到認可。對初信者，最有效明白聖經的方法是把握住教會提供的學習機會，如主日學，小組查經，一對一學習等。在老師的教導下，就能少走很多彎路，避免自己錯誤的想法。如果有不明白的，可以即刻詢問。maxBibleReader仍只是個工具，使用時仍要配合教會的教導。
            </p> 
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 2.jpg">
          </div>

          <h3>
            分享你的讀經筆記：
          </h3>

          <div class="span10">

            <p>
              雖然今天網絡發達，讀者可以隨意上網找資料，但不見得得到正確的信息。雖然maxBibleReader本身也是經由網路幫助讀者學習聖經，仍然建議讀者向自己教會的牧者老師咨詢，得到認可。對初信者，最有效明白聖經的方法是把握住教會提供的學習機會，如主日學，小組查經，一對一學習等。在老師的教導下，就能少走很多彎路，避免自己錯誤的想法。如果有不明白的，可以即刻詢問。maxBibleReader仍只是個工具，使用時仍要配合教會的教導。
            </p> 
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 2.jpg">
          </div>

          <h3>
            閲讀他人的讀經分享：
          </h3>

          <div class="span10">

            <p>
              雖然今天網絡發達，讀者可以隨意上網找資料，但不見得得到正確的信息。雖然maxBibleReader本身也是經由網路幫助讀者學習聖經，仍然建議讀者向自己教會的牧者老師咨詢，得到認可。對初信者，最有效明白聖經的方法是把握住教會提供的學習機會，如主日學，小組查經，一對一學習等。在老師的教導下，就能少走很多彎路，避免自己錯誤的想法。如果有不明白的，可以即刻詢問。maxBibleReader仍只是個工具，使用時仍要配合教會的教導。
            </p> 
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/light 2.jpg">
          </div>

          <h3>
            創立你的讀經小組：
          </h3>

          <div class="span10">

            <p>
              雖然今天網絡發達，讀者可以隨意上網找資料，但不見得得到正確的信息。雖然maxBibleReader本身也是經由網路幫助讀者學習聖經，仍然建議讀者向自己教會的牧者老師咨詢，得到認可。對初信者，最有效明白聖經的方法是把握住教會提供的學習機會，如主日學，小組查經，一對一學習等。在老師的教導下，就能少走很多彎路，避免自己錯誤的想法。如果有不明白的，可以即刻詢問。maxBibleReader仍只是個工具，使用時仍要配合教會的教導。
            </p> 
          </div>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span2">
            <p>
            </p>
            <p>
            </p>
            <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="flower 5.jpg">
          </div>
          <h3>
            牧長創作平臺：
          </h3>
          <div class="span10">
            <p>
              中文和合本是最早來華宣教士聯合翻譯的版本，也是目前華人閲讀較多的版本。因其中有少部分翻譯不正確，不達意，或不易明白的地方，
              近年來有好些新的翻譯版如現代譯本，新譯本，簡明聖經，等來彌補。
              這些努力都很有價值，值得讀者參考使用。但考慮和合本中仍有許多優美的譯文如詩篇23篇，哥林多前書13章愛的真諦等，為多數人背誦，所以
              maxBibleReader採取的做法，是以和合本為本，對少部分的經文給與修正或修飾。
              同時，在經文顯示上，採取原中文和合本和翻譯修正文並列，以爲尊重原中文和合本。
              所修飾或修正的譯文是根據多個受歡迎的英文聖經翻譯版本如NIV,NLT,AMP,KJV,NKJV,MSG,和OJB(Orthodox Jewish Bible)以盡量接近原文的本意。若想要多了解這些版本的特色，請參考<%= link_to "聖經介紹", bible_intro_path %>中關於不同聖經譯文的介紹。
            </p>
          </div>

        </div>
      </div>

    </div> <!-- end of tab 3 -->

  </div> <!-- end of tab contents -->
</div> <!-- end of tab block -->








