<% @usage_map = {} %>
<% @usage_map[0] = "亮光分享" %>
<% @usage_map[1] = "重點看見" %>
<% @usage_map[2] = "聖經註釋" %>
<% @usage_map[3] = "討論問題" %>
<% @usage_map[4] = "生活應用" %>
<% @usage_map[5] = "翻譯建議" %>

<div class="row-fluid">
  <div class="span6">

    <% icon_tag1 = "<i class=\"icon-edit icon-white\"></i> 回應" %>
    <% icon_tag4 = "<i class=\"icon-thumbs-up icon-white\"></i> 按讚" %>

    <% icon_tag2 = "<i class=\"icon-edit icon-white\"></i>　修改" %>
    <% icon_tag3 = "<i class=\"icon-trash icon-white\"></i> 刪除" %>
    <% bb = Book.find_by_book_code(light.book_code) %>
    <% passage = bb.title + light.chapter_no.to_s + "章" + light.verse_from.to_s + "-"  + 
        light.verse_to.to_s + "節" %>
    <% @collection = Collection.find(bb.collection_id) %>
    <% @book_series = BookSeries.find(@collection.book_series_id) %>
    <% @chapter = bb.chapters.find_by_chapter_no(light.chapter_no) %>

    <p></p>
    <p><span class="badge badge-info"><%= @reading_index2 %>/<%= @lights.count %></span> </p>
    <% @reading_index2 += 1 %>

    <div class="thumbnail">
      <div class="caption">
        <p>題目：<%= light.title %></p>
        <p>經文範圍：<%= passage %></p>
        <p>發表類別：<%= @usage_map[light.usage] %></p>
        <p>發表人：<%= User.find(light.user_id).name %></p>
        <p>内容2：</p>
      </div>
      <p>
        <%= light.content %>
      </p>

      <hr/>

      <p>分享時間：<%= light.updated_at.to_s %></p>
      <p>
        按讚數：<%= light.praise_count.to_s %>
      </p>
      <p>
        <% if user_signed_in? %>
          <% if current_user.id == light.user_id %>
            <%= link_to icon_tag3.html_safe, book_series_collection_book_chapter_light_path(@book_series, 
              @collection, @book, @chapter, light), 
              method: :delete, data: { confirm: '確定要刪除?' }, class: "btn btn-min btn-danger" %>
            <%= link_to icon_tag2.html_safe, edit_book_series_collection_book_chapter_light_path(@book_series,
              @collection, @book, @chapter, light), class: "btn btn-min btn-info" %>
          <% else %>
            <% my_comments = light.comments.where(:user_id => current_user.id, :voted => true) %>
            <% if my_comments.count == 0 %>
              <%= link_to icon_tag4.html_safe, book_series_collection_book_chapter_light_path(@book_series,
                @collection, @book, @chapter, @light, 
                :light => {:user_id => current_user.id, :voted => true}), 
                method: :put, class: "btn btn-min btn-warning" %>
            <% else %>
              <%= "Thank You!" %>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>

    <% if user_signed_in? %>
      <% @comment = light.comments.build() %>

      <div class="thumbnail">
        <div class="caption">
          <p>回應分享：</p>
        </div>
        <p>
          <%= render 'feedback_form' %>
        </p>
        </p>
      </div>
    <% end %>


  </div>

  <div class="span6">

    <div class="thumbnail">
      <div class="caption">

        <% if !light.comments %>
          <p>尚沒有回應</p>
        <% else %>


          <% @comments = light.comments.paginate(page: params[:comment_page], :per_page => 5) %>
          <% @comment_index = ( @comments.current_page - 1 ) * 5 + 1 %>
          <%= render @comments %>
          <%= will_paginate @comments, :param_name => 'comment_page' %>

        <% end %>
      </div>
    </div>

  </div>
</div>