<ul id="collection_tabs" class="nav nav-pills">
  <% ii = 1 %>
  <% @book_series_1.collections.each do |collection| %>
    <% link_1 = "#collect_" + ii.to_s %>
    <% if ii==1 %>
      <li class="active"><%= link_to collection.title, link_1, :data => {:toggle=>"tab"} %></li>
    <% else %>
      <li><%= link_to collection.title, link_1, :data => {:toggle=>"tab"} %></li>
    <% end %>
    <% ii = ii+1 %>
  <% end %>
</ul>

<div id="collection_list" class="tab-content"> <!-- level 1 tab content -->
   <% ii = 1 %>
    <% @book_series_1.collections.each do |collection| %> <!-- level 1 iteration -->
      <% if ii==1 %>
        <% dd = "<div class=\"tab-pane fade in active\" id=" + "\"collect_" + ii.to_s + "\">" %>
      <% else %>
        <% dd = "<div class=\"tab-pane fade\" id=" + "\"collect_" + ii.to_s + "\">" %>
      <% end %>
      <%= dd.html_safe %>

      <!-- <div class="bs-docs-example">  level 2 tab block -->
        <% dd = "<ul id=\"book_tabs_" + ii.to_s + "\" class=\"nav nav-tabs yellow\">" %>
        <%= dd.html_safe %>
          <% jj = 1 %>
          <% collection.books.each do |book| %>
            <% link_1 = "#book_" + ii.to_s + "_" + jj.to_s %>
            <% if jj==1 %>
              <li class="active"><%= link_to book.title, link_1, :data => {:toggle=>"tab"} %></li>
            <% else %>
              <li><%= link_to book.title, link_1, :data => {:toggle=>"tab"} %></li>
            <% end %>
            <% jj = jj+1 %>
          <% end %> <!-- book -->
        </ul>

        <div class="tab-content"> <!-- level 2 tab content-->

          <% jj = 1 %>
          <% collection.books.each do |book| %>
            <% if jj==1 %>
              <% dd = "<div class=\"tab-pane fade in active\" id=book_" + ii.to_s + "_" + jj.to_s %>
            <% else %>
              <% dd = "<div class=\"tab-pane fade\" id=book_" + ii.to_s + "_" + jj.to_s %>
            <% end %>
              <%= dd.html_safe %>
              <p>閲讀本書第 |
                <% book.chapters.order("chapter_no").each do |chap| %>
                  <%= link_to chap.chapter_no.to_s, book_series_collection_book_chapter_url(@book_series_1, collection, book, chap), :id => "chapter_list" %> |
                <% end %>
                章
              </p>
              <p>閲讀本書補充内容 |
                <% book.book_pages.each do |book_page| %>
                  <%= link_to book_page.title, book_series_collection_book_book_page_url(@book_series_1, collection, book, book_page), :id => "chapter_list" %> |
                <% end %>
              </p>
            <% jj = jj+1 %>
            </div>
          <% end %> <!-- level 2 iteration -->
        </div> <!-- level 2 tab content -->
      <!-- /div> level 2 tab block -->

      <% ii = ii+1 %> <!-- for each level 1 collection -->
      </div>
    <% end %> <!-- level 1 iteration -->
</div> <!-- level 1 tab content -->
<!-- </div>  level tab block -->
