<div class="container-fluid">

  <!--
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">

      <div class="item active">
         <img data-src="holder.js/1200x500" class="img-rounded" alt="1200x500" style="width: 1200px; height: 500px;" src="/light 2.jpg">
        <div class="container" width="1000px">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Sign up today</a>
          </div>
        </div>
      </div>

      <div class="item">
        <img data-src="holder.js/1200x500" class="img-rounded" alt="1200x500" style="width: 1200px; height: 500px;" src="/light 3.jpg">
        <div class="container" width="1000px">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>

      <div class="item">
         <img data-src="holder.js/1200x500" class="img-rounded" alt="1200x500" style="width: 1200px; height: 500px;" src="/light 1.jpg">
        <div class="container" width="1000px">
          <div class="carousel-caption">
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
          </div>
        </div>
      </div>

    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
  -->

  <!-- /.carousel -->

  <%= render 'header_toc' %>


  <div class="row-fluid">

    <div class="span6">

      <h2>
        <%= @book.title %><%= @chapter.chapter_no %>章

        <% prev_id = @chapter.id - 1 %>
        <% if prev_id > 0 %>
          <% prev_chap = Chapter.find(prev_id) %>
          <% prev_book_id = prev_chap.book_id %>
          <% prev_book = Book.find(prev_book_id) %>
          <% prev_coll_id = prev_book.collection_id %>
          <% prev_coll = Book.find(prev_coll_id) %>

          <%= link_to "上一章", book_series_collection_book_chapter_url(@book_series, prev_coll, prev_book, prev_chap), 
            class: "btn btn-min btn-warning" %>
        <% end %> 

        <% next_id = @chapter.id + 1 %>
        <% if next_id <= Chapter.count %>
          <% next_chap = Chapter.find(next_id) %>
          <% next_book_id = next_chap.book_id %>
          <% next_book = Book.find(next_book_id) %>
          <% next_coll_id = next_book.collection_id %>
          <% next_coll = Book.find(next_coll_id) %>

          <%= link_to "下一章", book_series_collection_book_chapter_url(@book_series, next_coll, next_book, next_chap), 
            class: "btn btn-min btn-warning" %>
        <% end %>

        <%= link_to "本书介绍", book_series_collection_book_url(@book_series, @collection, @book), 
        class: "btn btn-min btn-primary" %>

        &nbsp; &nbsp;

        <h5>
         
        點閱本章總人數：<span class="badge badge-warning"><%= @chapter.stat_read.to_s %></span>

        &nbsp; &nbsp;

        完成閲讀本章總人數：<span class="badge badge-warning"><%= @chapter.stat_finish.to_s %></span>
    
        </h5>

      </h2>
    </div>

    <div class="span4 offset2">
      <p> &nbsp; </p>
      <p>
        <div class="btn-group">
          <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">相關經文
            <span class="caret white-caret"></span></button>
          <ul class="dropdown-menu">
            <% if @chapter.verse_blocks.empty? %>
              <li><%= "無相關經文" %></li>
            <% else %>
              <% @chapter.verse_blocks.each do |ref| %>
                <% bb = Book.find_by_book_code(ref.book_code) %>
                <% coll = Collection.find(bb.collection_id) %>
                <% cc = bb.chapters.find_by_chapter_no(ref.chapter_no) %>

                <% verse_ref = bb.chinese_code + ref.chapter_no.to_s + ":" + ref.verse_from.to_s + "-" + 
                   ref.verse_to.to_s %>
                <li><%= link_to verse_ref.html_safe, 
                  book_series_collection_book_chapter_url(@book_series, coll, bb, cc) %></li>
              <% end %>
            <% end %>
          </ul>
        </div><!-- /btn-group -->

        <div class="btn-group">
          <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">閲讀書簽
            <span class="caret white-caret"></span></button>
          <ul class="dropdown-menu">
            <% if !user_signed_in? %>
              <li><%= "請先登入" %></li>
            <% elsif current_user.reading_histories.empty? %>
              <li><%= "尚無閲讀書簽" %></li>
            <% else %>
              <% current_user.reading_histories.each do |record| %>
                <% if record.html_path!=nil %>
                  <li><%= link_to record.page_code, record.html_path.html_safe %></li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div><!-- /btn-group -->
      </p>
    </div>

  </div>

  <hr class="featurette-divider">


  <div class="row-fluid">

    <div class="span6">

      <button type="button" class="btn btn-block btn-success">和合本經文
      </button>
      <p></p>

      <button type="button" class="btn btn-primary"><%= @book.title %> <%= @chapter.chapter_no.to_s %>章
      </button>
      <p></p>
      <font color="#000000">
        <p>
          <% @chapter.verses.each do |verse| %>
            <% if verse.verse_no==0 %> <h4><%= verse.content_cuvs.html_safe %></h4>
            <% elsif verse.verse_no==-1 %> <h5><%= verse.content_cuvs.html_safe %></h5>
              <!--
              <% verse_number = @chapter.chapter_no.to_s + ":"  + verse.verse_no.to_s %>
              <span class="badge"><%= verse_number %></span> <%= verse.content_cuvs.html_safe %>
              -->
            <% else %>
              |<%= verse.verse_no.to_s %>| <%= verse.content_cuvs.html_safe %>
            <% end %>
          <% end %>
        </p>
      </font>

      <hr class="featurette-divider">
    </div>

    <div class="span6">

      <button type="button" class="btn btn-block btn-success">
        經文修正參考
      </button>
      <p></p>

      <button type="button" class="btn btn-primary"><%= @book.title %> <%= @chapter.chapter_no.to_s %>章
      </button>
      <p></p>
      <font color="#000000">
        <p>
          <% @chapter.verses.each do |verse| %>
            <% if verse.verse_no==0 %> <h4><%= verse.content_cuvs.html_safe %></h4>
            <% elsif verse.verse_no==-1 %> <h5><%= verse.content_cuvs.html_safe %></h5>
              <!--
              <% verse_number = @chapter.chapter_no.to_s + ":"  + verse.verse_no.to_s %>
              <span class="badge"><%= verse_number %></span> <%= verse.content_cuvs.html_safe %>
              -->
             
            <% else %>
             |<%= verse.verse_no.to_s %>| <%= verse.content_revs.html_safe %>
            <% end %>
          <% end %>
        </p>
      </font>

      <hr class="featurette-divider">
    </div>

  </div>

  <div class="row-fluid">
    <div align="middle">


      <% icon_tag1 = "<i class=\"icon-file icon-white\"></i>" + " 加入閲讀書簽" %>
    
      <% if user_signed_in? %>

        <!-- add a new reading history with click -->
        <% if current_user.reading_histories.empty? %>
          <% reading_history = current_user.reading_histories.create %>
          <% "reading history empty, create a new one" %>
        <% elsif current_user.reading_histories.order("created_at").last.html_path!=nil %>
          <% if current_user.reading_histories.count > 9 %>
            <% n = current_user.reading_histories.count - 9 %>
            <% n.to_s %>
            <% n.times {current_user.reading_histories.order("created_at").first.delete} %>
          <% end %>
          <% reading_history = current_user.reading_histories.create %>
          <% "no available history record for use, create a new one" %>
        <% else %>
          <% reading_history = current_user.reading_histories.order("created_at").last %>
          <% "obtain the available history" %>
        <% end %>

        <% current_page_url = "/book_series/1/collections/" + @collection.id.to_s + "/books/" + 
            @book.id.to_s + "/chapters/" + @chapter.id.to_s + "/verses" %>
        <% page_title = "書卷：" + @book.title + @chapter.chapter_no.to_s + "章" %>
      
      
        <%= link_to icon_tag1.html_safe, user_reading_history_path(current_user, reading_history,
          :reading_history => {:html_path => current_page_url, :page_code => page_title}), method: :put,
          class: "btn btn-min btn-primary" %>  

      <% else %>
         <%= link_to icon_tag1.html_safe, "#", class: "btn btn-min btn-primary" %> 
      <% end %>


      <% icon_tag2 = "<i class=\"icon-star icon-white\"></i>" + " 點擊完成閲讀"  %>

      <!-- update stat_finish -->
      <% @chapter.stat_finish += 1 %>
      <%= link_to icon_tag2.html_safe, book_series_collection_book_chapter_path(@book_series,
        @collection, @book, @chapter, :chapter => {:stat_finish => @chapter.stat_finish}), method: :put,
        class: "btn btn-min btn-primary" %>

    </div>
  </div>

  <p></p>

  <div class="row-fluid">
    <div class="span12">
      <button type="button" class="btn btn-block btn-warning">
        經文註釋
      </button>
      <p></p>
      <p>

      <% @chapter.comments.each do |comment| %>
        <% if comment.grp==0 %> 
          <p>
            <% comment_number = @chapter.chapter_no.to_s + ":"  + comment.verse_from.to_s %>
            <% if comment.verse_from != comment.verse_to %>
              <% comment_number = comment_number + "-"  + comment.verse_to.to_s %>
            <% end %>
            <!-- <span class="badge"><%= comment_number %></span> -->
            |<%= comment_number %>| <%= comment.note.html_safe %>
          </p>
        <% end %>
      <% end %>

      <div align="middle">
        <p>
          <% icon_tag3 = "<i class=\"icon-heart icon-white\"></i>" + " 給以上解釋按赞" %>
        </p>
        <p>
          <% jj = @chapter.stat_note %>
          <% @chapter.stat_note += 1 %>
          <%= link_to icon_tag3.html_safe, book_series_collection_book_chapter_path(@book_series,
            @collection, @book, @chapter, :chapter => {:stat_note => @chapter.stat_note}), method: :put,
            class: "btn btn-min btn-primary" %>
          <span class="badge badge-success"><i class="icon-thumbs-up icon-white"></i> 
          <%= @chapter.stat_note.to_s %></span>
          
        </p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  </div> <!-- end of first row-fluid -->

  <div class="row-fluid">

    <div class="span3">
      <button type="button" class="btn btn-block btn-danger">
        經文背景
      </button>
      <p></p>
      <p><span class="badge badge-inverse">故事背景</span>  羅馬統治下的以色列人生活困苦流離，百姓在心靈上和生活上都需要迫切幫助。分封的希律王殘暴，不久前殺了施洗約翰。雖然如此，耶穌差遣門徒各處傳道，醫治病人。</p>
      <p><span class="badge badge-inverse">故事時間</span>  春天，快要過逾越節了。距離耶穌上十字架的最後晚餐約一年。</p>
      <p><span class="badge badge-inverse">故事地點</span>  加利利海東邊的野地。</p>
      <p><span class="badge badge-inverse">主要人物</span>  耶穌，12門徒，一個孩童，和衆人。</p>

      <img data-src="holder.js/300x250" class="img-rounded" alt="300x250" style="width: 300px; height: 250px;" src="/flower 1.jpg">
      <p></p>
    </div>

    <div class="span9">

      <div class="row-fluid"><!--/.3 column topic descriptions -->

        <div class="span4">
          <button type="button" class="btn btn-block btn-danger">
            内容摘要
          </button>
          <p></p>

          <% ii = 0 %>
          <% @chapter.comments.each do |comment| %>
            <% if comment.grp==0 %> 
              <p>
                <% ii += 1 %>
                <span class="badge badge-warning"><%= ii.to_s %></span>
                <%= comment.note.html_safe %>
              </p>
            <% end %>
          <% end %>         
          <p></p>

          <div align="middle">
            <p>
              <% icon_tag1 = "<i class=\"icon-heart icon-white\"></i>" + " 给以上摘要按个赞" %>
            </p>
            <p>
              <% jj = @chapter.stat_summary %>
              <% @chapter.stat_summary += 1 %>
              <%= link_to icon_tag1.html_safe, book_series_collection_book_chapter_path(@book_series,
                @collection, @book, @chapter, :chapter => {:stat_summary => @chapter.stat_summary}), method: :put,
                class: "btn btn-min btn-primary" %>
            </p>
            <p>
              <span class="badge badge-success"><i class="icon-thumbs-up icon-white"></i> <%= jj.to_s %></span>
            </p>
          </div>

          <hr class="featurette-divider">


        </div><!--/span-->

        <div class="span4">
          <button type="button" class="btn btn-block btn-danger">
            思想问题
          </button>
          <p></p>

          <% ii = 0 %>
          <% @chapter.comments.each do |comment| %>
            <% if comment.grp==0 %> 
              <p>
                <% ii += 1 %>
                <span class="badge badge-warning"><%= ii.to_s %></span>
                <%= comment.note.html_safe %>
              </p>
            <% end %>
          <% end %>         
          <p></p>

          <div align="middle">
            <p>
              <% icon_tag1 = "<i class=\"icon-heart icon-white\"></i>" + " 给以上问题按个赞" %>
            </p>
            
            <p>
              <% jj = @chapter.stat_question %>
              <% @chapter.stat_question += 1 %>
              <%= link_to icon_tag1.html_safe, book_series_collection_book_chapter_path(@book_series,
                @collection, @book, @chapter, :chapter => {:stat_question => @chapter.stat_question}), method: :put,
                class: "btn btn-min btn-primary" %>
            </p>
            <p>
              <span class="badge badge-success"><i class="icon-thumbs-up icon-white"></i> <%= jj.to_s %></span>
            </p>
          </div>

          <hr class="featurette-divider">

<!--
          <div class="input-append">
            <input class="span6" id="word-search" type="text">
            <button class="btn btn-warning" type="button">用關鍵詞過濾</button>
          </div>

          <p></p>
          <button class="btn btn-primary" type="button">開始閲讀</button>
          <p></p>
          <div class="thumbnail">
            <div class="caption">
              <p>1</p>
              <p>2</p>
              <p>3</p>
              <p>4</p>
              <p>5</p>
              <p>6</p>
              <p>7</p>
              <p>8</p>
            </div>
          </div>
          <p></p>
          <p>共10篇</p>
          <div class="pagination pagination-small">
            <ul>
              <li><a href="#">Prev</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
-->

        </div><!--/span4-->

        <div class="span4">
          <button type="button" class="btn btn-block btn-danger">
            經文應用
          </button>
          <p></p>
            <% ii = 0 %>
            <% @chapter.comments.each do |comment| %>
            <% if comment.grp==0 %> 
              <p>
                <% ii += 1 %>
                <span class="badge badge-warning"><%= ii.to_s %></span>
                <%= comment.note.html_safe %>
              </p>
            <% end %>
          <% end %>         
          <p></p>

          <div align="middle">
            <p>
              <% icon_tag1 = "<i class=\"icon-heart icon-white\"></i>" + " 给以上应用按个赞" %>
            </p>
            
            <p>
              <% jj = @chapter.stat_app %>
              <% @chapter.stat_app += 1 %>
              <%= link_to icon_tag1.html_safe, book_series_collection_book_chapter_path(@book_series,
                @collection, @book, @chapter, :chapter => {:stat_app => @chapter.stat_app}), method: :put,
                class: "btn btn-min btn-primary" %>
            </p>
            <p>
              <span class="badge badge-success"><i class="icon-thumbs-up icon-white"></i> <%= jj.to_s %></span>
            </p>
          </div>

          <hr class="featurette-divider">

        </div><!--/span4-->
      </div><!--/row-fluid -->
    </div> <!-- end of second span9 -->
  </div> <!-- end of second row-fluid -->

  <p></p>
  <button type="button" class="btn btn-block btn-danger">
    互动园区
  </button>
  <p></p>

  <div class="row-fluid">
    <div class="span12">
      <ul id="social_tabs" class="nav nav-tabs">
        <li class="active"><a href="#write_notes" data-toggle="tab">个人筆記</a></li>
        <li><a href="#write_posts" data-toggle="tab">发表分享</a></li>
        <li><a href="#write_suggestions" data-toggle="tab">網站建議</a></li>
        <li><a href="#search_bible" data-toggle="tab">查找圣经</a></li>
        <li><a href="#search_comments" data-toggle="tab">查找注释</a></li>
        <li><a href="#search_notes" data-toggle="tab">查找笔记</a></li>
        <li><a href="#search_posts" data-toggle="tab">查找分享</a></li>
        <li><a href="#search_members" data-toggle="tab">查找会员</a></li>
        <li><a href="#read_notes" data-toggle="tab">阅读笔记</a></li>
        <li><a href="#read_posts" data-toggle="tab">阅读分享</a></li>
      </ul>
    </div>
  </div>
    

  <div class="row-fluid">
    <div class="span3">
      <p></p>
      <img data-src="holder.js/300x600" class="img-rounded" alt="300x600" style="width: 300px; height: 600px;" src="/park 1 vert.jpg">
    </div>

    <div class="span9">

      <!--
      <ul id="social_tabs" class="nav nav-tabs">
        <li class="active"><a href="#write_notes" data-toggle="tab">个人筆記</a></li>
        <li><a href="#write_posts" data-toggle="tab">发表分享</a></li>
        <li><a href="#write_suggestions" data-toggle="tab">網站建議</a></li>
        <li><a href="#search_bible" data-toggle="tab">查找圣经</a></li>
        <li><a href="#search_comments" data-toggle="tab">查找注释</a></li>
        <li><a href="#search_notes" data-toggle="tab">查找笔记</a></li>
        <li><a href="#search_posts" data-toggle="tab">查找分享</a></li>
        <li><a href="#search_members" data-toggle="tab">查找会员</a></li>
        <li><a href="#read_notes" data-toggle="tab">阅读笔记</a></li>
        <li><a href="#read_posts" data-toggle="tab">阅读分享</a></li>
      </ul>
      -->

      <p></p>
      <div id="write" class="tab-content">
        <div class="tab-pane fade in active" id="write_notes">
          <span class="help-inline">題目：</span><input type="text" id="subject">
          <span class="help-inline"> 经文： <%= @book.title %>第<%= @chapter.chapter_no %>章：
          <input type="text" id="verse">-<input type="text" id="verse">节。</span>
          <textarea id="description">写下你的心得：</textarea>
          <p></p>
          <%= link_to "存入", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
        </div>

        <div class="tab-pane fade" id="write_posts">
          <span class="help-inline">題目：</span><input type="text" id="subject">
          <span class="help-inline"> 经文： <%= @book.title %>第<%= @chapter.chapter_no %>章：
          <input type="text" id="verse">-<input type="text" id="verse">节。</span>
          <textarea style="overflow:auto" id="description">写下你的分享：</textarea>
          <p></p>
          <%= link_to "分享", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "邮寄", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
        </div>
        <div class="tab-pane fade" id="write_suggestions">
          <span class="help-inline">关于：</span><input type="text">
          <textarea style="overflow:auto" id="description">写下你的建议：</textarea>
          <p></p>
          <%= link_to "送出", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
        </div>

        <div class="tab-pane fade" id="search_bible">
          <span class="help-inline">查询字词：</span><input type="text">
          <span class="help-inline">圣经范围：</span><input type="text">
          <p></p>
          <%= link_to "查找", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
          <p></p>
          <textarea style="overflow:auto" id="description">搜寻结果：</textarea>
          <%= link_to "打开经文", "#", class: "btn btn-min btn-primary" %>
        </div>

        <div class="tab-pane fade" id="search_comments">
          <span class="help-inline">查询字词：</span><input type="text">
          <span class="help-inline">注释类别：</span><input type="text">
          <p></p>
          <%= link_to "查找", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
          <p></p>
          <textarea style="overflow:auto" id="description">搜寻结果：</textarea>
          <%= link_to "打开经文", "#", class: "btn btn-min btn-primary" %>
        </div>
        <div class="tab-pane fade" id="search_notes">
          <span class="help-inline">查询字词：</span><input type="text">
          <span class="help-inline">时间范围：</span><input type="text">
          <span class="help-inline">圣经范围：</span><input type="text">
          <p></p>
          <%= link_to "查找", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
          <p></p>
          <textarea style="overflow:auto" id="description">搜寻结果：</textarea>
          <%= link_to "打开经文", "#", class: "btn btn-min btn-primary" %>
        </div>
        <div class="tab-pane fade" id="search_posts">
          <span class="help-inline">查询字词：</span><input type="text">
          <span class="help-inline">时间范围：</span><input type="text">
          <span class="help-inline">圣经范围：</span><input type="text">
          <span class="help-inline">会员范围：</span><input type="text">
          <p></p>
          <%= link_to "查找", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
          <p></p>
          <textarea style="overflow:auto" id="description">搜寻结果：</textarea>
          <%= link_to "打开经文", "#", class: "btn btn-min btn-primary" %>
        </div>
        <div class="tab-pane fade" id="search_members">
          <span class="help-inline">关键字词：</span><input type="text">
          <span class="help-inline">搜寻范围：</span><input type="text">
          <p></p>
          <%= link_to "查找", "#", class: "btn btn-min btn-primary" %>
          <!-- 所有/我的粉丝/我的关注/我的小组/我的教会 -->
          <%= link_to "取消", "#", class: "btn btn-min btn-primary" %>
          <p></p>
          <textarea style="overflow:auto" id="description">搜寻结果：</textarea>
          <%= link_to "公开资料", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "成为粉丝", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "退出粉丝", "#", class: "btn btn-min btn-primary" %>
        </div>
        <div class="tab-pane fade" id="read_notes">
          <span class="help-inline">时间范围：</span><input type="text">
          <span class="help-inline">圣经范围：</span><input type="text">
          <span class="help-inline">收藏范围：</span><input type="text">
          <p></p>
          <textarea style="overflow:auto" id="description">我的笔记：</textarea>
          <p></p>
          <%= link_to "上一篇", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "下一篇", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "再思", "#", class: "btn btn-min btn-primary" %>
        </div>
        <div class="tab-pane fade" id="read_posts">
          <span class="help-inline">我的关注：</span><input type="text">
          <span class="help-inline">我的小组：</span><input type="text">
          <span class="help-inline">时间范围：</span><input type="text">
          <span class="help-inline">圣经范围：</span><input type="text">
          <p></p>
          <textarea style="overflow:auto" id="description">经文分享：</textarea>
          <p></p>
          <%= link_to "上一篇", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "下一篇", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "回应", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "按赞", "#", class: "btn btn-min btn-primary" %>
          <%= link_to "收藏", "#", class: "btn btn-min btn-primary" %>
        </div>
      </div>
    <p></p>

    </div>
  </div>
</div>

<h3>Verses:</h3>

<% if !@chapter.verses.empty? %>

  <table>
    <tr>
      <th>Verse no</th>
      <th>Chapter</th>
      <th>Content kjv</th>
      <th>Content cuvs</th>
      <th>Content cuvt</th>
      <th>Content revs</th>
      <th>Content revt</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @verses.each do |verse| %>
      <tr>
        <td><%= verse.verse_no %></td>
        <td><%= verse.chapter_id %></td>
        <td><%= verse.content_kjv.html_safe %></td>
        <td><%= verse.content_cuvs.html_safe %></td>
        <td><%= verse.content_cuvt.html_safe %></td>
        <td><%= verse.content_revs.html_safe %></td>
        <td><%= verse.content_revt.html_safe %></td>
        <td><%= link_to 'Show', [@book_series, @collection, @book, @chapter, verse] %></td>
        <td><%= link_to 'Edit', edit_book_series_collection_book_chapter_verse_path(@book_series, @collection, @book, @chapter, verse) %></td>
        <td><%= link_to 'Destroy', [@book_series, @collection, @book, @chapter, verse], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </table>

  <br />

<% else %>
  <p>Chapter <%= @chapter.title %> of Book <%= @book.title %> Has no verses yet!</p>

<% end %>

<p>
  <%= link_to 'New Verse', new_book_series_collection_book_chapter_verse_path(@book_series, @collection, @book, @chapter) %> |
  <%= link_to 'Back', [@book_series, @collection, @book, @chapter] %>
</p>
