
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span6">
      <h1>書卷讀經</h1>
    </div>

    <div class="span6">
    </div>

  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <p>
      在開始聖經的書卷讀經前，需要對聖經的正典，聖經書卷的分類，以及每卷書有先的了解。根據您的情況，您可以直接
      <a href="#book_select">選擇聖經</a>，
      開始您的書卷讀經。或者你也可以先決定
      <%= link_to "從哪眷書開始讀起", book_series_url(@book_series_1) %>並建立讀聖經的基本態度與法則，
      認識<%= link_to "基督教聖經的書卷分類", book_series_collections_url(@book_series_1) %>，
      或從以下介紹了解聖經正典的形成，及基督教，天主教，即猶太教正典的相同和不相同的地方。
    </p>
    <p>
      maxBibleReader的書卷讀經根據基督教聖經正典的内容和中文和合本的翻譯。以下的天主教聖經正典及猶太教的聖經正典僅供參考。
    </p>
  </div>
</div>

<hr class="featurette-divider">
<a id="book_select"></a>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/bible1.jpg">
    </div>

    <div class="span10">

    <% @book_series.each do |book_series| %>
      <h3>
        <%= book_series.title %>:
      </h3>
      <% pp = book_series.description.split("PP") %>
      <% pp.each do |paragraph| %>
        <p>
          <%= paragraph %>
        </p>
      <% end %>
      <% if book_series.id == 1 %>
        <p>
          <%= link_to "開始書卷讀經", book_series_url(book_series), class: "btn btn-min btn-primary" %>
        </p>
      <% end %>

      <table class="table table-hover" width="560" >

        <tbody>
          <tr>
            <th width="100" scope="col">書卷分類</th>
            <th width="460" scope="col">書卷名稱</th>
          </tr>

          <% book_series.collections.each do |collection| %>

            <tr>
              <td>
              <!--
              <% if collection.id < 6 %><span class="badge badge-warning">
                  <% else %><span class="badge badge-info"><% end %>
                <%= collection.id %></span> 
              -->
                <% if collection.id < 6 && book_series.id ==1 %><span class="badge badge-warning">舊約</span>
                  <% elsif collection.id <15 && book_series.id==2 %><span class="badge badge-warning">舊約</span>
                  <% elsif book_series.id==3 %><span class="badge badge-warning">舊約</span>
                  <% else %><span class="badge badge-info">新約</span>
                <% end %>
                 
                <% if book_series.id == 1 %>
                  <%= link_to collection.title, book_series_collection_url(@book_series_1, collection) %>
                <% else %>
                  <%= collection.title %>
                <% end %>
              </td>
              <td>|
                <% collection.books.each do |book| %>
                  <% if book_series.id == 1 %>
                    <%= link_to book.title, book_series_collection_book_url(book_series, collection, book) %> |
                  <% else %>
                    <%= book.title %> |
                  <% end %>
                <% end %>
              </td>
            </tr>

          <% end %>
          <tr>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <% end %>
    </div>

  </div>
</div>


<hr class="featurette-divider">

<p>
  Below is for Test Only
</p>

<table>
  <tr>
    <th>名稱</th>
    <th>簡介</th>
    <th></th>
    <th></th>
<!--
    <th></th>
-->
  </tr>

<% @book_series.each do |book_series| %>
  <tr>
    <td><%= book_series.title %></td>
    <td><%= book_series.description %></td>
    <td><%= link_to '簡介', book_series %></td>
    <td><%= link_to '目錄', book_series_collections_path(@book_series) %></td>
<!--
    
    <td><%= link_to 'Edit', edit_book_series_path(book_series) %></td>
    <td><%= link_to 'Destroy', book_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
  </tr>
<% end %>
</table>

<br />

ONLY FOR TEST: <%= link_to 'New Book Series', new_book_series_path %>
