
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span6">
      <h2>書卷讀經</h2>
    </div>
    <p>
    </p>

    <div class="span6">
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid">
    <p>
      聖經是由許多的書卷組成，這些書卷是聖靈透過不同作者，不同時代背景寫成。被收納進入聖經的書卷需要得到教會或公會的認可，
      確定有神的啓示才行。經過認可的聖經書卷稱爲正典。猶太教，天主教，及基督教有共同部分的正典，也有不一樣的地方。
      以下有對這三個聖經正典有簡單的介紹，而maxBibleReader所用的聖經和翻譯是根據基督教的聖經正典。
    </p>
    <p>
      讀者可以點選以下聖經書卷名稱，進入書卷讀經，或點選
      <%= link_to "認識聖經書卷分類", book_series_url(@book_series_1), class: "btn btn-min btn-primary" %>，
      了解聖經66卷書的分類。
    </p>
  </div>
</div>

<hr class="featurette-divider">
<a id="book_select"></a>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="/bible1.jpg">
    </div>

    <div class="span10">

    <% @book_series.each do |book_series| %>
      <h3>
        <%= book_series.title %>:
      </h3>
      <% pp = book_series.description.split("PP") %>
      <% pp.each do |paragraph| %>
        <p>
          <%= paragraph %>
        </p>
      <% end %>
      

      <table class="table table-hover" width="560" >

        <tbody>
          <tr>
            <th width="100" scope="col">書卷分類</th>
            <th width="460" scope="col">書卷名稱</th>
          </tr>

          <% book_series.collections.each do |collection| %>

            <tr>
              <td>
              <!--
              <% if collection.id < 6 %><span class="badge badge-warning">
                  <% else %><span class="badge badge-info"><% end %>
                <%= collection.id %></span> 
              -->
                <% if collection.id < 6 && book_series.id ==1 %><span class="badge badge-warning">舊約</span>
                  <% elsif collection.id <15 && book_series.id==2 %><span class="badge badge-warning">舊約</span>
                  <% elsif book_series.id==3 %><span class="badge badge-warning">舊約</span>
                  <% else %><span class="badge badge-info">新約</span>
                <% end %>
                 
                <% if book_series.id == 1 %>
                  <%= link_to collection.title, book_series_collection_url(@book_series_1, collection) %>
                <% else %>
                  <%= collection.title %>
                <% end %>
              </td>
              <td>|
                <% collection.books.each do |book| %>
                  <% if book_series.id == 1 %>
                    <%= link_to book.title, book_series_collection_book_url(book_series, collection, book) %> |
                  <% else %>
                    <%= book.title %> |
                  <% end %>
                <% end %>
              </td>
            </tr>

          <% end %>
          <tr>
            <td></td>
            <td></td>
          </tr>

        </tbody>
      </table>
      <% end %>
    </div>

  </div>
</div>


<hr class="featurette-divider">

<p>
  Below is for Test Only
</p>

<table>
  <tr>
    <th>名稱</th>
    <th>簡介</th>
    <th></th>
    <th></th>
<!--
    <th></th>
-->
  </tr>

<% @book_series.each do |book_series| %>
  <tr>
    <td><%= book_series.title %></td>
    <td><%= book_series.description %></td>
    <td><%= link_to '簡介', book_series %></td>
    <td><%= link_to '目錄', book_series_collections_path(@book_series) %></td>
<!--
    
    <td><%= link_to 'Edit', edit_book_series_path(book_series) %></td>
    <td><%= link_to 'Destroy', book_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
  </tr>
<% end %>
</table>

<br />

ONLY FOR TEST: <%= link_to 'New Book Series', new_book_series_path %>
