
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span9">
      <h1>關於書卷讀經</h1>
    </div>

    <div class="span3">
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="bible1.jpg">
    </div>

    <div class="span10">
      <h3>
        書卷的分類
      </h3>
      <table class="table table-hover">

        <tbody>
          <tr>
            <th>書卷分類</th>
            <th>書卷名稱</th>
          </tr>
          <tr>
            <td><span class="badge badge-warning">1</span> 律法書</td>
            <td>創世記，出埃及記，利未記，民數記，申命記</td>
          </tr>
          <tr>
            <td><span class="badge badge-warning">2</span> 歷史書</td>
            <td>約書亞記， 士師記， 路得記，撒母耳記上下，列王記上下，歷代志上下，以斯拉記，尼希米記，以斯帖記</td>
          </tr>
        </tbody>
      </table>

      <p>
        您可以點選書卷分類選項，仔細了解分類内容，歷史和地理背景，作者，以預備足夠背景知識。或者您直接點選，進入書卷讀經。
      </p>
    </div>

  </div>
</div>

<hr class="featurette-divider">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 3.jpg">
    </div>

    <div class="span10">
      <h3>
        按書卷讀經的法則
      </h3>
      <p>
        剛開始讀聖經的人，雖然每個字都看的懂，但合起來就不明白。最根本的原因乃是聖經是神的話，用人的邏輯去理解神的邏輯就很難明白。爲此，以下提示幾個讀聖經的重要法則。
      </p>
      <p>
        <span class="badge badge-warning">1</span> 聖經是神的啓示。讀聖經時最重要的是態度，需要存敬畏，謙卑，渴慕的心。如果存批判的心，就很難進入真理。如果遇到難以明白的時候，只要用敬畏，謙卑，渴慕的心來禱告，求聖靈幫助，神會樂意打開我們心中的眼睛，讓我們看見亮光。
      </p>
      <p>
        <span class="badge badge-warning">2</span> 神的話大有能力，能打開我們的心，在我們彷徨時給我們亮光。然而，要能應用神的話在我們生活的處境中，首先必須正確明白神的話。也就是，有正確的解釋，才能有正確的應用。所以讀聖經的次序是：先要觀察，其次按正義解釋，然後才是領受和應用。
      </p>
      <p>
        <span class="badge badge-warning">3</span> 一個避免斷章取義按自己意思解釋的法則，就是需正確明白作者原來的目的。有些書卷可以很容易找到作者的寫書目的，例如約翰福音的作者約翰在20：31清楚說出他寫書的目的。有些就需要從全文分析得出。
      </p>
      <p>
        <span class="badge badge-warning">4</span> 除了從全文分析，對寫作歷史背景的了解也可以有效地幫助我們明白書卷的目的。例如耶利米書的歷史背景是猶大囯面臨巴比倫帝國的滅囯威脅。耶利米在此危難時候告訴以色列人遭難的原因，要他們做好亡國的準備，預言神將與以色列家另立新約。
      </p>
      <p>
        <span class="badge badge-warning">5</span> 有時光從一卷書本身也不容易了解作者的寫書目的。此時就需要從相關的書卷來發現。例如，如果我們將四福音書馬太，馬可，路加，和約翰福音合起來看時，就可以發現這四卷書有不同的重點：
      </p>

      <p>
        <table width="560" border="1">
          <tr>
            <th width="80" scope="col">比較</th>
            <th width="120" scope="col">馬太福音</th>
            <th width="120" scope="col">馬可福音</th>
            <th width="120" scope="col">路加福音</th>
            <th width="120" scope="col">約翰福音</th>
          </tr>
          <tr>
            <td valign="top"><div align="left">重點</div></td>
            <td valign="top"><div align="left">耶穌是君王</div></td>
            <td valign="top"><div align="left">耶穌是奴僕</div></td>
            <td valign="top"><div align="left">耶穌是人子</div></td>
            <td valign="top"><div align="left">耶穌是神子</div></td>
          </tr>
          <tr>
            <td valign="top"><div align="left">家譜</div></td>
            <td valign="top"><div align="left">王的家譜，從亞伯拉罕往下推至約瑟</div></td>
            <td valign="top"><div align="left">沒有記載，因爲奴僕是沒有家譜的</div></td>
            <td valign="top"><div align="left">人的家譜，從母親往上推到亞當</div></td>
            <td valign="top"><div align="left">神的家譜：太初有道，道就是神，道成了肉身</div></td>
          </tr>
          <tr>
            <td valign="top"><div align="left">記載的重點</div></td>
            <td valign="top"><div align="left">從耶穌作爲君王的角度，如天國國王的教訓：登山寳訓。引證舊約的預言，證明耶穌是彌賽亞，救世主。</div></td>
            <td valign="top"><div align="left">從耶穌作爲僕人的角度，如風塵僕僕的工作。</div></td>
            <td valign="top"><div align="left">從耶穌作爲人子的角度，如詳細的母親瑪麗亞受聖靈感孕的過程。</div></td>
            <td valign="top"><div align="left">從耶穌作爲神子的角度，如記載七個神跡，耶穌也多次自己宣告就是彌賽亞，宣告自己的名字是：我是。</div></td>
          </tr>
        </table>
      </p>
      <p>
        <span class="badge badge-warning">6</span> 事實上，聖經全部66卷書也是有互相關聯的。maxBibleReader 的主題式讀經就是將整本聖經分成12個互相連貫的主題，可以幫助讀者明白聖經縂的目的。
      </p>
      <p>
        <span class="badge badge-warning">7</span> 為能在按書卷讀經時，能清楚看見寫書目的，maxBibleReader 根據書卷與整本聖經的關係，歷史的背景，加入標題和註釋，是使讀者能夠有充分的背景知識。
      </p>
      <p>
        <span class="badge badge-warning">8</span> 聖經的話語是非常奇妙的，隨著個人生命愈來愈認識神的心腸，就愈能有更深的體會，可以百讀不膩。然而為避免錯誤領受，對初讀聖經的讀者，建議先要將重點放在基本真理的明白。隨著靈命成長，聖靈光照，就自然能更深的明白神對自己要說的話。
      </p>
    </div>

  </div>
</div>




<hr class="featurette-divider">
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 1.jpg">
    </div>


    <div class="span10">
      <h3>
        聖經該從哪卷書讀起
      </h3>
      <p>
        有許多初信者面對讀聖經就感到困難，會問該從哪裏讀起。由於摩西五經是舊約聖經的根基，四福音書是新約聖經的根基，建議從這兩部分開始。然而讀摩西五經的時候，很可能會遇到讀不下去的時候。例如，有些部分看起來不合科學，有些部分講到獻祭和會幕很枯燥，而有些部分講到許多人名地理。讀四福音書的時候，所需的背景知識沒有如舊約的多，所以讀的時候可以較容易明白。然而要謹慎的是自己以爲的明白不見得是真正明白。例如耶穌講到天國的比喻，很多人有自己的解釋。還有時甚至會很困惑，例如耶穌說他來要使我們家人之間有戰爭，他要人吃他的肉喝他的血，實在太被於常理。爲幫助讀者讀經，maxBibleReader一方面提供必要解釋，另一方面，提供主題讀經的方式，有了足夠的背景知識和主題整理，就能容易明白許多難解的地方。
      </p> 
    </div>

  </div>
</div>

<hr class="featurette-divider">
<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
      <p>
      </p>
      <p>
      </p>
      <img data-src="holder.js/100x100" class="img-rounded" alt="100x100" style="width: 120px; height: 120px;" src="light 3.jpg">
    </div>


    <div class="span10">
      <h3>
        尋求教會幫助，把握學習的機會
      </h3>
      <p>
        雖然今天網絡發達，讀者可以隨意上網找資料，但不見得得到正確的信息。雖然maxBibleReader本身也是經由網路幫助讀者學習聖經，仍然建議讀者向自己教會的牧者老師咨詢，得到認可。對初信者，最有效明白聖經的方法是把握住教會提供的學習機會，如主日學，小組查經，一對一學習等。在老師的教導下，就能少走很多彎路，避免自己錯誤的想法。如果有不明白的，可以即刻詢問。maxBibleReader仍只是個工具，使用時仍要配合教會的教導。
      </p> 
    </div>

  </div>
</div>

<hr class="featurette-divider">

<p>
  Below is for Test Only
</p>

<table>
  <tr>
    <th>名稱</th>
    <th>簡介</th>
    <th></th>
    <th></th>
<!--
    <th></th>
-->
  </tr>

<% @book_series.each do |book_series| %>
  <tr>
    <td><%= book_series.title %></td>
    <td><%= book_series.description %></td>
    <td><%= link_to '簡介', book_series %></td>
    <td><%= link_to '目錄', book_series_collections_path(@book_series) %></td>
<!--
    
    <td><%= link_to 'Edit', edit_book_series_path(book_series) %></td>
    <td><%= link_to 'Destroy', book_series, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
  </tr>
<% end %>
</table>

<br />

ONLY FOR TEST: <%= link_to 'New Book Series', new_book_series_path %>
