<div class="container-fluid">

  <hr class="featurette-divider">

  <div class="row-fluid">

    <div class="span3">
      <%= render 'navibar_collections' %>
      <%= render 'navibar_books' %>
      <div class="well sidebar-nav">
        <img data-src="holder.js/280x600" alt="">
      </div>
    </div>

    <div class="span9">

      <div class="container-fluid">
        <h2>
          <%= @book.title %>
        </h2>
        <% pp =  @book.description.split("PP") %> 
        <% pp.each do |p1| %>
        <p>
          <%= p1 %>
        </p> 
        <% end %>
        <% if !@book.chapters.empty? %>
          <p>閲讀本書第 |
            <% @book.chapters.order("chapter_no").each do |chap| %>
              <%= link_to chap.chapter_no.to_s, book_series_collection_book_chapter_url(@book_series_1, @collection, @book, chap), :id => "chapter_list" %> |
            <% end %>
            章
          </p>
        <% end %>
        <% if !@book.book_pages.empty? %>
          <p>閲讀本書補充内容: | <%= link_to "目錄", 
              book_series_collection_book_book_pages_url(@book_series, @collection, @book),
              :id => "chapter_list" %> |
            <% @book.book_pages.each do |book_page| %>
              <%= link_to book_page.title, book_series_collection_book_book_page_url(@book_series_1, @collection, 
              @book, book_page), :id => "chapter_list" %> |
            <% end %>
          </p>
        <% end %>
      </div>

      <hr class="featurette-divider">

      <% if @book.static_link.presence %>
        <%= render @book.static_link %>
      <% end %>

    </div>

  </div>
</div>

<h3>Chapter Listing of Book <%= @book.title %></h3>

<% if !@book.chapters.empty? %>

  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Book</th>
      <th>Chapter no</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @chapters.each do |chapter| %>
    <tr>
      <td><%= chapter.title %></td>
      <td><%= chapter.description %></td>
      <td><%= chapter.book_id %></td>
      <td><%= chapter.chapter_no %></td>
      <td><%= link_to 'Show', [@book_series, @collection, @book, chapter] %></td>
      <td><%= link_to 'Edit', edit_book_series_collection_book_chapter_path(@book_series, @collection, @book, chapter) %></td>
      <td><%= link_to 'Destroy', [@book_series, @collection, @book, chapter], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

<% else %>
  <p>Book <%= @book.title %> of Collection <%= @collection.title %> Has No Chapters Yet!</p>

<% end %>

<p>
  <%= link_to 'New Chapter', new_book_series_collection_book_chapter_path(@book_series, @collection, @book) %> |
  <%= link_to 'Back', [@book_series, @collection, @book] %>
</p>
