<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <!-- Be sure to leave the brand out there if you want it shown -->
      <%= link_to "maxBibleReader", root_path, class: "brand" %>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <!-- .nav, .navbar-search, .navbar-form, etc -->

        <ul class="nav">
          <li><%= link_to "聖經介紹", bible_intro_path %></li>
          <li><%= link_to "閲讀指南", reader_guide_path %></li>
          <li><%= link_to "主題讀經", topics_path %></li>
          <li><%= link_to "書卷讀經", bible_top_path %></li>
          <li><%= link_to "信仰告白", faith_statement_path %></li>
        </ul>

		    <ul class="nav pull-right">

        <% if user_signed_in? %>
          <li><%= link_to "我的讀經", 'user#resume_reading' %></li>
          <li><%= link_to current_user.name, edit_user_registration_path %></li>
          <li><%= link_to "登出", destroy_user_session_path, method: :delete %></li>
            <% else %>
    			   <li><%= link_to "登入", new_user_session_path %></li>
            <% end %>
          <li><%= link_to "成爲會員", contact_path %></li>
		    </ul>

      </div>
 
    </div>
  </div>
</div>